@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;

.upload {
	@media screen and (min-width: $mobile) and (max-width: 1279px) {
		margin: 2rem 2rem 10rem 2rem;
	}

	&__header {
		border-bottom: 1px solid $mercury;
		margin-bottom: 2rem;
	}

	.header {
		border-bottom: 4px solid $mercury;
		padding: 0 1rem;
		width: 100%;
	}

	h2 {
		font-size: 0.8rem;
		font-weight: 800;
		color: $silver;
		padding-bottom: 0.4rem;
		letter-spacing: 0.05rem;
	}

	@media screen and (min-width: $tablet) and (max-width: 1279px) {
		padding: 0 2.5rem;
	}

	@media screen and (min-width: $desktop) {
		padding: 0 8rem;
		max-width: 87.5rem;
	}

	&__main {
		@media screen and (min-width: $desktop) {
			display: flex;
			margin-bottom: 2rem;
			border-bottom: 1px solid $mercury;
		}
	}

	&__header {
		color: $black;
		font-size: 1.4rem;
		line-height: 2rem;
		padding: 1.2rem 0;

		@media screen and (min-width: $tablet) and (max-width: 1279px) {
			font-size: 2.3rem;
			border-bottom: 1px solid $mercury;
			margin: 2.5rem 0;
		}
	}

	&__header-text {
		font-size: 3rem;
		font-weight: 700;
		padding: 2rem 0 2rem 0;

		@media screen and (min-width: $tablet) {
			// margin-top: 1rem;
		}
	}

	&__thumbnail {
		@media screen and (min-width: $desktop) {
			width: initial;
			height: 15rem;
		}

		img {
			width: 100%;
			border: 1px solid $silver;
			border-radius: 0.3rem;

			@media screen and (min-width: $tablet) and (max-width: 1279px) {
				width: 50%;
			}

			@media screen and (min-width: $desktop) {
				width: initial;
				height: 10.5rem;
			}
		}
	}

	&__forms {
		@media screen and (min-width: $desktop) {
			margin-left: 2rem;
			flex-grow: 1;
		}

		label {
			font-size: 0.8rem;
			font-weight: 700;
			color: $silver;
			letter-spacing: 0.05rem;
		}

		input,
		textarea {
			display: block;
			box-sizing: border-box;
			border: 1px solid $mercury;
			outline: none;
			border-radius: 0.25rem;
			padding: 0.8rem;
			background-color: $alabaster;
			width: 100%;
			height: 6rem;
			resize: none;

			&::placeholder {
				color: $black;
			}

			&:active,
			&:focus {
				border: 1px solid $blue;
			}

			@media screen and (min-width: $tablet) and (max-width: 1279px) {
				display: flex;
				flex-basis: 74%;
				overflow: hidden;
			}

			@media screen and (min-width: $desktop) {
				flex-basis: 69%;
				height: 5.2rem;
				width: 100%;
			}
		}

		input {
			height: 2.3rem;
		}

		&-header,
		&-text {
			margin-top: 0.7rem;

			@media screen and (min-width: $desktop) {
				margin-top: 0rem;
			}

			input,
			textarea {
				margin-bottom: 1rem;
				margin-top: 0.3rem;
			}
		}

		&-text {
			border-bottom: 1px solid $mercury;
			padding-bottom: 0.5rem;
			margin-bottom: 1.5rem;

			@media screen and (min-width: $desktop) {
				border-bottom: none;
			}
		}
	}

	.button-container {
		width: 100%;
		justify-content: flex-end;
		display: flex;
		justify-content: baseline;
		// flex-wrap: wrap;

		@media screen and (min-width: $mobile) and (max-width: 767px) {
			display: flex;
			flex-wrap: wrap-reverse;
			justify-content: center;
		}

		@media screen and (min-width: $tablet) and (max-width: 1279px) {
			flex-wrap: nowrap;
		}
	}

	&__buttons {
		flex-direction: column;
		display: flex;
		width: 50%;
		justify-content: end;

		@media screen and (min-width: $tablet) and (max-width: 1279px) {
			flex-direction: row-reverse;
			justify-content: flex-end;
		}

		&-publish {
			align-items: end;
			min-height: 3rem;
			background-position: 25% 50%;
			background-color: $blue;
			border-radius: 4px;
			border-color: $blue;
			color: white;
			font-weight: 600;
			display: flex;
			align-self: flex-end;
			float: right;
			width: 100%;

			@media screen and (min-width: $mobile) and (max-width: 767px) {
				justify-content: center;
				align-items: center;
				margin-right: 1rem;
				padding: 1rem 2rem 1rem 2rem;
			}

			@media screen and (min-width: $tablet) and (max-width: 1279px) {
				margin-left: 0.5rem;
				padding-right: 0.3rem;
				width: 20%;
				height: 1rem;
				justify-content: center;
				align-items: center;
			}

			@media screen and (min-width: $desktop) {
				margin-left: 0.5rem;
				padding-right: 0.5rem;
				width: 20%;
				height: 1rem;
				justify-content: center;
				align-items: center;

				&-cancel {
					align-items: end;
					min-height: 3rem;
					background-position: 25% 50%;
					background-color: $blue;
					border-radius: 4px;
					border-color: $blue;
					color: white;
					font-weight: 600;
					display: flex;
					align-self: flex-end;
					float: right;
					width: 20%;
					padding-top: 1rem;
					width: 100%;

					@media screen and (min-width: $mobile) and (max-width: 767px) {
						justify-content: center;
						align-items: center;
						margin-top: 1rem;
						padding: 1rem 2rem 1rem 2rem;
					}

					@media screen and (min-width: $tablet) and (max-width: 1279px) {
						margin-left: 0.5rem;
						padding-right: 0.5rem;
						width: 100%;
						height: 1rem;
						justify-content: center;
						align-items: center;
					}

					@media screen and (min-width: $desktop) {
						margin-left: 0.5rem;
						padding-right: 0.5rem;
						height: 1rem;
						justify-content: center;
						align-items: center;
					}
				}
			}

			button {
				position: relative;
				width: 100%;
				font-size: 0.73rem;
				font-weight: 700;
				letter-spacing: 0.03rem;
				background: $blue;
				color: $white;
				text-align: center;
				line-height: 2rem;
				border: none;
				border-radius: 0.25rem;
				transition: background-color 0.2s;

				&:hover {
					background: darkblue;
					cursor: pointer;
				}

				@media screen and (min-width: $tablet) and (max-width: 1279px) {
					height: 2.6rem;
					font-size: 0.7rem;
					width: 10rem;
				}

				@media screen and (min-width: $desktop) {
					margin: auto;
				}

				img {
					position: absolute;
					left: 0.6rem;
					top: 0.6rem;
					width: 1.1rem;

					@media screen and (min-width: $tablet) and (max-width: 1279px) {
						top: 0.75rem;
					}
				}
			}
		}
	}

	&__button-link {
		text-decoration: none;
	}

	&__cancel-link {
		color: $blue;
		font-size: 0.8rem;
		font-weight: 700;
		text-align: center;
		text-decoration: none;
	}

	&__cancel-button {
		width: 100%;
		min-height: 3rem;
		background-position: 25% 50%;
		background-color: $blue;
		border-radius: 4px;
		border-color: $blue;
		color: $blue;
		background-color: white;
		font-weight: 600;
		display: flex;

		@media screen and (min-width: $mobile) and (max-width: 767px) {
			justify-content: center;
			align-items: center;
		}

		@media screen and (min-width: $tablet) and (max-width: 1279px) {
			margin-left: 0.5rem;
			padding-right: 0.5rem;
			width: 100%;
			height: 1rem;
			justify-content: center;
			align-items: center;
		}

		@media screen and (min-width: $desktop) {
			margin-left: 0.5rem;
			padding-right: 0.5rem;
			width: 100%;
			height: 1rem;
			justify-content: center;
			align-items: center;
		}
	}

	.title {
		@media screen and (min-width: $desktop) {
			padding-top: 0;
		}
	}
}

.upload__buttons-cancel {
	margin-left: 0.5rem;
	padding-right: 0.5rem;
	width: 20%;
	height: 3rem;
	background-color: white;
	font-weight: 800;
	color: $blue;
	justify-content: center;
	align-items: end;

	@media screen and (min-width: $mobile) {
		padding-top: 0.5rem;
	}

	@media screen and (min-width: $tablet) and (max-width: 1279px) {
		padding-bottom: 0.5rem;
	}
}

.upload__buttons-publish {
	@media screen and (min-width: $mobile) and (max-width: 767px) {
		justify-content: space-around;
		padding-right: 6.5rem;
	}

	@media screen and (min-width: $tablet) and (max-width: 1279px) {
		justify-content: space-between;
		padding-right: 3rem;
		padding-left: 0.5rem;
		width: 23%;
	}

	@media screen and (min-width: $desktop) {
		justify-content: space-around;
		padding-right: 1rem;
		width: 16%;
	}
}

.upload__success-message {
	@media screen and (min-width: $desktop) {
		width: 280px;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 50%);
		display: flex;
		flex-wrap: wrap;
		padding: 3rem;
		width: 30%;
		justify-content: center;
	}
}

.upload__success-text {
	@media screen and (min-width: $desktop) {
		visibility: hidden;
		width: 160px;
		background-color: #555;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 8px 0;
		position: relative;
		z-index: 1;
		bottom: 125%;
		left: 50%;
		margin-left: -80px;
	}
}

.upload__success-button {
	@media screen and (min-width: $desktop) {
		margin-left: auto;
		margin-right: auto;
		width: 8em;
		justify-content: center;
		padding: 1rem;
		margin-top: 1rem;
	}
}
