/*======================= Primary Colors ======================= */

$black: #323232;
$blue: #0095ff;
$silver: #afafaf;
$white: #ffffff;

/*======================= Secondary Colors ======================= */

$darkBlack: #000000;
$darkBlue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;

/*======================= Media Breakpoints ======================= */

$desktop: 1280px;
$tablet: 768px;
$mobile: 320px;
